In [16]:
import pandas as pd
import os
from web3 import Web3
from time import time
from time import sleep
from datetime import datetime
import asyncio
from concurrent.futures import ThreadPoolExecutor

In [17]:
chainstack_rpc = os.environ.get('CHAINSTACK')
alchemy_rpc = os.environ.get('ALCHEMY')
ankr_rpc = os.environ.get('ANKR')
quicknode_rpc = os.environ.get('QUICKNODE')
infura_rpc = os.environ.get('INFURA')
getblock_rpc = os.environ.get('GETBLOCK')

In [18]:
df_block = []
df_balance = []

In [19]:
def get_balance(provider,token):
    
    w3 = Web3(Web3.HTTPProvider(token))
    t_start = time()
    block = w3.eth.get_balance('0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045')
    t_end = time()
    return [datetime.utcfromtimestamp(t_start).strftime('%Y-%m-%d %H:%M:%S'),provider,t_end-t_start,block]

def main_getbalance():
    # URLs to make requests to
    providers_dict = {
        'chainstack':chainstack_rpc,
        'alchemy':alchemy_rpc,
        'ankr':ankr_rpc,
        'quicknode':quicknode_rpc,
        'infura':infura_rpc,
        'getblock':getblock_rpc
    }

    # Using ThreadPoolExecutor to run requests in parallel
    with ThreadPoolExecutor() as executor:
        results = list(executor.map(lambda args: get_balance(*args), providers_dict.items()))

    
    for i in results:
        df_balance.append(i)

In [20]:

def latest_block(provider,token):
    
    w3 = Web3(Web3.HTTPProvider(token))
    t_start = time()
    block = w3.eth.get_block('latest')
    t_end = time()
    return [datetime.utcfromtimestamp(t_start).strftime('%Y-%m-%d %H:%M:%S'),provider,t_end-t_start,datetime.utcfromtimestamp(block['timestamp']).strftime('%Y-%m-%d %H:%M:%S'),block['number']]

def main_latestblock():
    # URLs to make requests to
    providers_dict = {
        'chainstack':chainstack_rpc,
        'alchemy':alchemy_rpc,
        'ankr':ankr_rpc,
        'quicknode':quicknode_rpc,
        'infura':infura_rpc,
        'getblock':getblock_rpc
    }

    # Using ThreadPoolExecutor to run requests in parallel
    with ThreadPoolExecutor() as executor:
        results = list(executor.map(lambda args: latest_block(*args), providers_dict.items()))

    
    for i in results:
        df_block.append(i)

In [21]:
for i in range(0,50):
    sleep(1)
    main_latestblock()

for i in range(0,50):
    sleep(1)
    main_getbalance()

In [22]:
columns_block = ['batch_time_id', 'provider', 'time_to_execute','block_timestamp','block_number']
columns_balance = ['batch_time_id', 'provider', 'time_to_execute','balance']

In [23]:
block_results = pd.DataFrame(df_block, columns=columns_block)
balance_results = pd.DataFrame(df_balance, columns=columns_balance)

In [25]:
balance_results

           batch_time_id    provider  time_to_execute               balance
0    2024-01-30 17:23:28  chainstack         0.116509  82033284839935834712
1    2024-01-30 17:23:28     alchemy         0.122761  82033284839935834712
2    2024-01-30 17:23:28        ankr         0.088340  82033284839935834712
3    2024-01-30 17:23:28   quicknode         0.090523  82033284839935834712
4    2024-01-30 17:23:28      infura         0.076122  82033284839935834712
..                   ...         ...              ...                   ...
295  2024-01-30 17:24:29     alchemy         0.145195  82033284839935834712
296  2024-01-30 17:24:29        ankr         0.108906  82033284839935834712
297  2024-01-30 17:24:29   quicknode         0.096710  82033284839935834712
298  2024-01-30 17:24:29      infura         0.078380  82033284839935834712
299  2024-01-30 17:24:29    getblock         0.235845  82033284839935834712

[300 rows x 4 columns]

In [26]:
block_results

,batch_time_id,provider,time_to_execute,block_timestamp,block_number
0,2024-01-30 17:21:33,chainstack,0.149995,2024-01-30 17:21:23,19120779
1,2024-01-30 17:21:33,alchemy,10.516303,2024-01-30 17:21:35,19120780
2,2024-01-30 17:21:33,ankr,0.229753,2024-01-30 17:21:23,19120779
3,2024-01-30 17:21:33,quicknode,0.145441,2024-01-30 17:21:23,19120779
4,2024-01-30 17:21:33,infura,0.389126,2024-01-30 17:21:23,19120779
...,...,...,...,...,...
295,2024-01-30 17:23:26,alchemy,0.134831,2024-01-30 17:23:23,19120789
296,2024-01-30 17:23:26,ankr,0.067860,2024-01-30 17:23:23,19120789
297,2024-01-30 17:23:26,quicknode,0.091397,2024-01-30 17:23:23,19120789
298,2024-01-30 17:23:26,infura,0.076499,2024-01-30 17:23:23,19120789
299,2024-01-30 17:23:26,getblock,0.229745,2024-01-30 17:23:23,19120789

In [27]:
block_results.to_csv('block_results.csv')
balance_results.to_csv('balance_results.csv')

In [28]:
block_results

,batch_time_id,provider,time_to_execute,block_timestamp,block_number
0,2024-01-30 17:21:33,chainstack,0.149995,2024-01-30 17:21:23,19120779
1,2024-01-30 17:21:33,alchemy,10.516303,2024-01-30 17:21:35,19120780
2,2024-01-30 17:21:33,ankr,0.229753,2024-01-30 17:21:23,19120779
3,2024-01-30 17:21:33,quicknode,0.145441,2024-01-30 17:21:23,19120779
4,2024-01-30 17:21:33,infura,0.389126,2024-01-30 17:21:23,19120779
...,...,...,...,...,...
295,2024-01-30 17:23:26,alchemy,0.134831,2024-01-30 17:23:23,19120789
296,2024-01-30 17:23:26,ankr,0.067860,2024-01-30 17:23:23,19120789
297,2024-01-30 17:23:26,quicknode,0.091397,2024-01-30 17:23:23,19120789
298,2024-01-30 17:23:26,infura,0.076499,2024-01-30 17:23:23,19120789
299,2024-01-30 17:23:26,getblock,0.229745,2024-01-30 17:23:23,19120789

In [31]:
block_results['Rank'] = block_results.groupby('batch_time_id')['time_to_execute'].rank(ascending=True)

In [32]:
block_results

,batch_time_id,provider,time_to_execute,block_timestamp,block_number,Rank
0,2024-01-30 17:21:33,chainstack,0.149995,2024-01-30 17:21:23,19120779,2.0
1,2024-01-30 17:21:33,alchemy,10.516303,2024-01-30 17:21:35,19120780,6.0
2,2024-01-30 17:21:33,ankr,0.229753,2024-01-30 17:21:23,19120779,3.0
3,2024-01-30 17:21:33,quicknode,0.145441,2024-01-30 17:21:23,19120779,1.0
4,2024-01-30 17:21:33,infura,0.389126,2024-01-30 17:21:23,19120779,5.0
...,...,...,...,...,...,...
295,2024-01-30 17:23:26,alchemy,0.134831,2024-01-30 17:23:23,19120789,5.0
296,2024-01-30 17:23:26,ankr,0.067860,2024-01-30 17:23:23,19120789,1.0
297,2024-01-30 17:23:26,quicknode,0.091397,2024-01-30 17:23:23,19120789,3.0
298,2024-01-30 17:23:26,infura,0.076499,2024-01-30 17:23:23,19120789,2.0
299,2024-01-30 17:23:26,getblock,0.229745,2024-01-30 17:23:23,19120789,6.0